.main {
  text-align: center;
  background-color: lightblue;
};
.title {
  color: black;
  margin-top: 100px;
  margin-bottom: 50px;
}

.list {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.text {
  /* flex-grow: 1; */

}
.btn {
  margin-right: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.deleteButton {
  height: 20px;
  width: 80px;
}